.seat {
  position: relative;
  display: inline-block;
  margin: 3px 4px 3px 4px;
  border-radius: 50%;
  padding: 0px;
}

.small {
  width: 60px;
  height: 60px;
}

.size-5 {
  width: 60px;
  height: 60px;
}

.size-10 {
  width: 30px;
  height: 30px;
}

.large {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.float {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.I {
  font-size: 40px;
  text-shadow: -1px 0 rgb(43, 43, 43), 0 1px rgb(43, 43, 43), 1px 0 rgb(43, 43, 43),
    0 -1px rgb(43, 43, 43);
}

.size-5 .emoji {
  font-size: 40px;
}

.size-10 .emoji {
  font-size: 20px;
}

.circle {
  display: inline-block;
  position: relative;
  margin: 3px 4px 3px 4px;
}

.overlay {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
  margin: auto;
}

.empty {
  background-color: rgb(146, 146, 146);
}

.unselected {
  background-color: rgb(146, 146, 146);
}

.size-5.unselected {
  border: solid 3px white;
  width: 54px;
  height: 54px;
}

.size-10.unselected {
  border: solid 2px white;
  width: 26px;
  height: 26px;
}

.size-10 .I {
  font-size: 20px;
}

.red {
  background-color: #ff4d00;
}

.orange {
  background-color: #ff7f00;
}

.yellow {
  background-color: #faff00;
}

.green {
  background-color: #21c732;
}

.blue {
  background-color: #0094ff;
}

.blue-1 {
  background-color: #ffffff;
}

.blue-2 {
  background-color: #adddff;
}

.blue-3 {
  background-color: #6fc3ff;
}

.blue-4 {
  background-color: #35abff;
}

.blue-5 {
  background-color: #0094ff;
}
