.navBar {
  font-size: 34px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.navBar > div > a {
  font-size: 34px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right > a {
  margin-left: 20px;
}
